@use "variables";

.header{
    background-color: variables.$ColorOnePadrao;


    &__links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: .7rem;
        padding: 0 1rem;
        max-width: 1000px;
        margin: 0 auto;

        

        &__item{
            color: variables.$colorLink;
            transition: .4s;

            &:hover{
                color: variables.$corPadrao;
            }
        }

    }

    &__bottom{
        font-size: .8rem;
        padding: 1rem;
        border-bottom: 1px solid #ccc;

        &__inner{
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__text{
            font-size: 1.2rem;
        }

        &__links{
            color: variables.$ColorOnePadrao;
            margin: 0 0.5rem;

            &--is-btn{
                background-color: variables.$fundoBtn;
                border-radius: 10rem;
                padding: 0.4rem 1rem;
                color: variables.$corPadrao;
            }
        }

        @media (max-width: 480px){
            &__links{
                display: none;

                &--is-btn{
                    display: flex;
                }
            }
        }

        @media (max-width: 768px){
            &__links{
                max-width: 900px;
               

                &--is-btn{
                    display: flex;
                    margin-top: 16px;
                    width: 60px;
                   
                    
                }
            }

        }
    }

    @media (max-width: 480px){

        &__li{
            display: none;
        }

        &__logo{
            display: flex;
        }
    }


}