$ColorOnePadrao: #333;
$colorTwoPadrao: #1d1d1d;
$colorThreePadrao: #86868b;

$colorLink: #F5f5F7;
$corPadrao: #fff;

$fundoBtn: #0071e3;

$colorCont: #f8fc01;

$colorSelected: #43a1ff;

$colorGreen: #394238;
$colorSilver: #f1f2ed;
$colorGolden: #fae7cf;
$colorGrafite: #54524f;
$colorBlue: #a7c1d9
